/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* debug */

[class*="col-"] {
  min-height: 100px !important;
  border: solid 1px red;
}

/* fine debug */



/* regole header (navbar) */

#ms_navbar {
  background-color: #FFFFFF;
  border: none;
}

/* regole jumbotron */

#ms_jumbo {
  background-image: url("../img/home.jpg");
}

/* regole stories */

#ms_stories {
  background-color: #F2F4F8;
}

/* regole carousel */

#ms_caro_1,
#ms_caro_2 {
  background-color: #F2F4F8;
}

/* regole services */

#ms_services {
  /* bg va messo gradiente */
  background-color: blue;
}

/* regole services */

#ms_start {
  /* bg va messo gradiente */
  background-color: blue;
}

/* regole footer */

#ms_footer {
  /* bg va messo gradiente */
  background-color: darkblue;
}
