/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* debug */

[class*="col-"] {
  min-height: 100px !important;
  border: solid 1px red;
}

/* fine debug */



/* regole header (navbar) */

#ms_navbar {
  background-color: #FFFFFF;
  border: none;
  margin: 0;
}

#ms_navbar .navbar-brand{
  padding: 10px 50px 10px 15px;
}

#ms_navbar img {
  height: 28px;
}

#ms_navbar .navbar-collapse a {
  padding: 15px 5px;
  color: #000000;
  font-weight: bold;
}

#ms_navbar .navbar-right button {
  margin: 10px 0 0 5px;
  color: #2485FD;
  border-color: #2485FD;
}

#ms_navbar button.navbar-toggle.collapsed {
  border: none;
}

#ms_navbar button.navbar-toggle.collapsed span {
  background-color: #2485FD;
}

/* regole jumbotron */

#ms_jumbo {
  background-image: url("../img/home.jpg");
}

/* regole stories */

#ms_stories {
  background-color: #F2F4F8;
}

/* regole carousel */

#ms_caro_1,
#ms_caro_2 {
  background-color: #F2F4F8;
}

/* regole services */

#ms_services {
  /* bg va messo gradiente */
  background-color: blue;
}

/* regole services */

#ms_start {
  /* bg va messo gradiente */
  background-color: blue;
}

/* regole footer */

#ms_footer {
  /* bg va messo gradiente */
  background-color: darkblue;
}




/* regole per display MD */
@media all and (min-width: 992px) and (max-width: 1199px){

  .ms_centratura{
    padding: 0 30px !important;
  }

}



/* regole per display LG */
@media all and (min-width: 1200px){

  .ms_centratura{
    padding: 0 150px !important;
  }

}
