/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole header (navbar) */

#ms_navbar {
  background-color: #FFFFFF;
  border: none;
  margin: 0;
}

#ms_navbar .navbar-brand{
  padding: 10px 100px 10px 15px;
}

#ms_navbar img {
  height: 28px;
}

#ms_navbar .navbar-collapse a {
  padding: 15px 5px;
  color: #000000;
  font-weight: bold;
}

#ms_navbar .navbar-right button {
  margin: 10px 0 0 5px;
  color: #2485FD;
  border-color: #2485FD;
}

#ms_navbar button.navbar-toggle.collapsed {
  border: none;
}

#ms_navbar button.navbar-toggle.collapsed span {
  background-color: #2485FD;
}

/* regole jumbotron */

#ms_jumbo {
  padding: 50px 0;
  background-image: url("../img/home.jpg");
}

#ms_jumbo h1 {
  font-size: 36px;
  font-weight: bold;
  color: #FFFFFF;
}

#ms_jumbo p {
  font-size: 20px;
  color: #CCCCCC;
}

#ms_jumbo .ms_whitebox{
  padding: 15px;
  background-color: #FFFFFF;
  border-radius: 2%/4%;
  text-align: center;
}

#ms_jumbo .ms_whitebox h2{
  font-size: 26px;
  font-weight: bold;
  color: #000000;
}

#ms_jumbo .ms_whitebox h3{
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
  color: #035CC9;
}

#ms_jumbo .ms_whitebox input{
  margin-bottom: 10px;
}

#ms_jumbo .ms_whitebox input::placeholder {
  color: #777777;
  font-weight: bold;
}

#ms_jumbo .ms_whitebox .ms_button_blue{
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
  background-color: #2485FD;
  color: #FFFFFF;
}

#ms_jumbo .ms_whitebox .ms_button_white{
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
  background-color: #FFFFFF;
  color: #555555;
  position: relative;
}

#ms_jumbo .ms_whitebox .ms_button_white img{
  height: 20px;
  position: absolute;
  left: 15px;
}

#ms_jumbo .ms_whitebox h6{
  font-weight: bold;
}

#ms_jumbo .ms_whitebox h6 a{
  text-decoration: underline;
}

/* regole stories */

#ms_stories {
  padding: 50px 0;
  background-color: #F2F4F8;
  text-align: center;
}

#ms_stories h5 {
  margin-bottom: 20px;
  color: #777777;
  font-size: 16px;
  font-weight: bold;
}

#ms_stories img{
  height: 150px;
}

#ms_stories .ms_a_margin {
  padding: 20px 0;
}

#ms_stories a {
  color: #035CC9;
  font-weight: bold;
}

/* regole deploy */

#ms_deploy {
  padding: 50px 0;
}

#ms_deploy h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}

#ms_deploy p {
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: bold;
  color: #777777;
}

#ms_deploy ul {
  list-style-type: none;
  margin-bottom: 20px;
  border-left: 1px solid #777777;
}

#ms_deploy ul li {
  padding: 10px;
}

#ms_deploy ul a {
  font-size: 20px;
  color: #777777;
}

#ms_deploy img {
  margin: 10px 0;
}

#ms_deploy h4 {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

#ms_deploy h5 {
  color: #777777;
}

/* regole carousel 1 */

#ms_caro_1 {
  padding: 0 30px;
  background-color: #F2F4F8;
}

#ms_caro_1 h2 {
  margin: 50px 0 30px;
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}

#ms_caro_1 p {
  margin-bottom: 100px;
  font-size: 20px;
  font-weight: bold;
  color: #777777;
}

#ms_caro_1 .item {
  padding-bottom: 50px;
}

#ms_caro_1 img {
  width: 300px;
  margin: 0 auto;
}

#ms_caro_1 h5 {
  margin-bottom: 50px;
  color: #000000;
  text-shadow: none;
}

#ms_caro_1 .carousel-caption{
  margin-top: 10px;
  position: relative;
  left: auto;
  right: auto;
}

#ms_caro_1 li {
  border-color: #2485FD;
  margin-bottom: 50px;
}

#ms_caro_1 li.active {
  background-color: #2485FD;
}

#ms_caro_1 .carousel-control {
  display: none;
  background-image: none;
}

#ms_caro_1 .carousel-control .glyphicon {
  color: #0E1A46;
}

/* regole features */

#ms_features  h2 {
  margin: 50px 0 30px;
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}

#ms_features img {
  margin: 20px 0 10px;
}

#ms_features h4 {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

#ms_features p {
  color: #777777;
}

#ms_features a {
  font-weight: bold;
}

/* regole services */

#ms_services {
  margin-top: 50px;
  padding-bottom: 50px;
  background-image: linear-gradient(#1E3DBE, #141790);
}

#ms_services  h2 {
  margin: 50px 0 10px;
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
}

#ms_services tr:first-of-type th {
  border: none;
}

#ms_services .ms_table_white {
  padding-left: 20px;
  color: #FFFFFF;
}

#ms_services .ms_table_grey {
  color: #777777;
}

#ms_services .ms_table_link {
  padding-right: 20px;
  text-align: right;
}

#ms_services .ms_table_link a {
  color: #00E699;
}

/* regole carousel 2 */

#ms_caro_2 {
  padding: 0 30px;
  background-color: #F2F4F8;
}

#ms_caro_2 .item {
  padding-bottom: 50px;
}

#ms_caro_2 h2 {
  margin: 50px 0 100px;
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}

#ms_caro_2 .ms_whitebox{
  margin: 0 30%;
  padding: 30px 0;
  background-color: #FFFFFF;
  border-radius: 2%/4%;
  text-align: center;
}

#ms_caro_2 .ms_whitebox img {
  width: 95%;
}

#ms_caro_2 .ms_whitebox p {
  margin: 20px 0 10px;
  padding: 0 5px;
  font-size: 20px;
  font-weight: bold;
  color: #777777;
}

#ms_caro_2 .ms_whitebox .ms_text {
  padding-bottom: 30px;
}

#ms_caro_2 .ms_whitebox a {
  font-weight: bold;
  color: #2485FD;
}

#ms_caro_2 .carousel-caption{
  margin-top: 30px;
  position: relative;
  left: auto;
  right: auto;
}

#ms_caro_2 li {
  border-color: #2485FD;
  margin-bottom: 50px;
}

#ms_caro_2 li.active {
  background-color: #2485FD;
}

#ms_caro_2 .carousel-control {
  display: none;
  background-image: none;
}

#ms_caro_2 .carousel-control .glyphicon {
  color: #0E1A46;
}


/* regole get started */

#ms_start {
  padding: 50px 0;
  text-align: center;
  background-image: linear-gradient(#1E3DBE, #141790);
}

#ms_start h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
}

#ms_start .ms_button_blue{
  font-size: 16px;
  font-weight: bold;
  background-color: #FFFFFF;
  color: #035CC9;
}


/* regole footer */

#ms_footer {
  padding: 50px 0;
  background-color: #0E1A46;
}

#ms_footer h5 {
  font-size: 16px;
  color: #AAAAAA;
}

#ms_footer h6 {
  font-size: 14px;
  color: #777777;
}

#ms_footer .ms_lista_social li {
  display: inline-block;
  margin-right: 10px;
}

#ms_footer .ms_lista_social li a {
  font-size: 24px;
  color: #777777;
}

#ms_footer h4 {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
}

#ms_footer .ms_lista_link li {
  list-style: none;
  margin: 10px 0;
}

#ms_footer .ms_lista_link li a {
  font-size: 14px;
  color: #AAAAAA;
}



/* regole per display MD */
@media all and (min-width: 992px) and (max-width: 1199px){

  .ms_centratura{
    padding: 0 30px !important;
  }

  .ms_centratura_plus{
    padding: 0 50px !important;
  }

  #ms_deploy .ms_padding_extra{
    padding: 0 50px !important;
  }

  #ms_caro_1 img {
    width: 400px;
  }

  #ms_caro_1 .carousel-control {
    display: block;
  }

  #ms_caro_2 .ms_whitebox img {
    width: 80%;
  }

  #ms_caro_2 .carousel-control {
    display: block;
  }

}



/* regole per display LG */
@media all and (min-width: 1200px){

  .ms_centratura{
    padding: 0 150px !important;
  }

  .ms_centratura_plus{
    padding: 0 200px !important;
  }

  #ms_deploy .ms_padding_extra{
    padding: 0 100px !important;
  }

  #ms_jumbo h1 {
    margin-top: 0px;
    font-size: 60px;
  }

  #ms_caro_1 img {
    width: 600px;
  }

  #ms_caro_1 h5 {
    margin-bottom: 10px;
  }

  #ms_caro_1 .carousel-control {
    display: block;
  }

  #ms_caro_2 .ms_whitebox img {
    width: 60%;
  }

  #ms_caro_2 .carousel-control {
    display: block;
  }

}
